<div>
  <button type="button" (click)="redirectForm()">Ir a formulario</button>
</div>
<ng-template [ngIf]="usuarios.length">
  <table>
    <thead>
      <tr>
        <th>DNI</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Telefono</th>
        <th>Edad</th>
        <th>Direccion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.dni }}</td>
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.apellidos }}</td>
        <td>{{ usuario.telefono }}</td>
        <td>{{ usuario.edad }}</td>
        <td>{{ usuario.direccion }}</td>
      </tr>
    </tbody>
  </table>
  <button type="button" (click)="enviar()">Enviar</button>
</ng-template>
<ng-template [ngIf]="!usuarios.length">
  <h3>No hay datos registrados</h3>
</ng-template>
