<form class="form" [formGroup]="presenter.contactFormGroup" (ngSubmit)="contactNow()">
    <h3 class="title">GET IN TOUCH</h3>
    <app-input type="text" placeholder="DNI" icon="fas fa-user" formControlName="DNI"></app-input>
    <app-control-error
      [show]="presenter.isNameError"
      [errors]="presenter.nameErrors"
      [messages]="presenter.nameErrorMessage">
    </app-control-error>
  
    <app-input type="text" placeholder="Nombre" icon="fas fa-at" formControlName="Nombre"></app-input>
    <app-control-error
      [show]="presenter.isNameError"
      [errors]="presenter.isNameError"
      [messages]="presenter.isNameError">
    </app-control-error>

    <app-input type="text" placeholder="Apellidos" icon="fas fa-at" formControlName="Apellido"></app-input>
    <app-control-error
      [show]="presenter.isNameError"
      [errors]="presenter.isNameError"
      [messages]="presenter.isNameError">
    </app-control-error>
  
    <app-input type="text" placeholder="number" icon="fas fa-phone" formControlName="phone"></app-input>
    <app-control-error
      [show]="presenter.isPhoneError"
      [errors]="presenter.phoneErrors"
      [messages]="presenter.phoneErrorMessage">
    </app-control-error>

    <app-input type="text" placeholder="Edad" icon="fas fa-phone" formControlName="Edad"></app-input>
    <app-control-error
      [show]="presenter.isPhoneError"
      [errors]="presenter.phoneErrors"
      [messages]="presenter.phoneErrorMessage">
    </app-control-error>

    <app-input type="text" placeholder="Direccion" icon="fas fa-at" formControlName="Direccion"></app-input>
    <app-control-error
      [show]="presenter.isNameError"
      [errors]="presenter.isNameError"
      [messages]="presenter.isNameError">
    </app-control-error>
  
  
  <!--  <ngx-recaptcha2-->
  <!--    formControlName="recaptcha"-->
  <!--    siteKey="6LcdodsgAAAAAGSo_67JJ22mY95fP6uTGfPX6FR2"-->
  <!--    (expire)="handleExpire()"-->
  <!--    (success)="handleSuccess($event)"-->
  <!--    size="normal"-->
  <!--    [theme]="theme">-->
  <!--  </ngx-recaptcha2>-->
  
    
    <app-button type="submit" [disabled]="presenter.contactFormGroup.invalid">
      <mat-spinner *ngIf="loading else text" diameter="20" color="warn"></mat-spinner>
      <ng-template #text>Contact Now</ng-template>
    </app-button>
  </form>
  
  