<form [formGroup]="userRegisterForm" (ngSubmit)="registrar()">
  <h1>REGISTRAR USUARIO</h1>
  <div class="div-input">
    <input type="text" placeholder="dni" formControlName="dni" />
  </div>
  <app-control-error
    [show]="isDniError"
    [errors]="dniErrors"
    [messages]="dniErrorMessages"
  ></app-control-error>
  <div class="div-input">
    <input type="text" placeholder="nombre" formControlName="nombre" />
  </div>
  <app-control-error
    [show]="isNombreError"
    [errors]="nombreErrors"
    [messages]="nombreErrorMessages"
  ></app-control-error>
  <div class="div-input">
    <input type="text" placeholder="apellidos" formControlName="apellidos" />
  </div>
  <app-control-error
    [show]="isApellidosError"
    [errors]="apellidosErrors"
    [messages]="apellidosErrorMessages"
  ></app-control-error>
  <div class="div-input">
    <input type="text" placeholder="telefono" formControlName="telefono" />
  </div>
  <app-control-error
    [show]="isTelefonoError"
    [errors]="telefonoErrors"
    [messages]="telefonoErrorMessages"
  ></app-control-error>
  <div class="div-input">
    <input type="text" placeholder="edad" formControlName="edad" />
  </div>
  <app-control-error
    [show]="isEdadError"
    [errors]="edadErrors"
    [messages]="edadErrorMessages"
  ></app-control-error>
  <div class="div-input">
    <input type="text" placeholder="direccion" formControlName="direccion" />
  </div>
  <app-control-error
    [show]="isDireccionError"
    [errors]="direccionErrors"
    [messages]="direccionErrorMessages"
  ></app-control-error>
  <button type="submit" [disabled]="userRegisterForm.invalid">Guardar</button>
  <button type="button" (click)="readirectGird()">Mostrar Datos</button>
</form>
